.time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    &__group {
        text-align: center;
    }

    &__number {
        font-size: 1.4rem;
    }

    &__number--desc {
        font-size: 0.9rem;
    }
}
