<div class="categories">
    <div class="container">
        <div class="categories__inner">
            <div class="categories__top">
                <div class="row row-cols-2 row-cols-md-1">
                    <div class="col">
                        <div class="categories__content">
                            <h2 class="categories__heading">Ipsum minim mollit irure</h2>
                            <p class="categories__desc">
                                Lorem ipsum dolor sit amet consectetur. Est congue ultrices sem id aliquam et diam
                                ultricies rhoncus. Purus rhoncus volutpat cum scelerisque. Orci proin neque nec lacinia
                                gravida. Quis enim nibh rutrum.
                            </p>
                        </div>
                    </div>

                    <div class="col">
                        <div>
                            <img src="./assets/images/cate.png" class="categories__image" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="categories__bottom">
                <div class="categories__bottom-row row row-cols-4 row-cols-lg-2 row-cols-md-4 g-3 g-xl-2">
                    <div class="categories__bottom-col col">
                        <div class="categories__bottom-item">
                            <div class="categories__bottom-item--decor">
                                <img src="./assets/icons/blog-decor.svg" alt="" class="categories__bottom--icon" />
                            </div>
                            <p class="categories__bottom--desc">
                                Veniam exercitation reprehenderit proident cillum consequat est irure duis. Esse est qui
                                mollit adipisicing dolore ut qui reprehenderit nulla dolore consectetur velit.
                            </p>
                        </div>
                    </div>

                    <div class="categories__bottom-col col">
                        <div class="categories__bottom-item">
                            <div class="categories__bottom-item--decor">
                                <img src="./assets/icons/blog-decor.svg" alt="" class="categories__bottom--icon" />
                            </div>
                            <p class="categories__bottom--desc">
                                Veniam exercitation reprehenderit proident cillum consequat est irure duis. Esse est qui
                                mollit adipisicing dolore ut qui reprehenderit nulla dolore consectetur velit.
                            </p>
                        </div>
                    </div>

                    <div class="categories__bottom-col col">
                        <div class="categories__bottom-item">
                            <div class="categories__bottom-item--decor">
                                <img src="./assets/icons/blog-decor.svg" alt="" class="categories__bottom--icon" />
                            </div>
                            <p class="categories__bottom--desc">
                                Veniam exercitation reprehenderit proident cillum consequat est irure duis. Esse est qui
                                mollit adipisicing dolore ut qui reprehenderit nulla dolore consectetur velit.
                            </p>
                        </div>
                    </div>

                    <div class="categories__bottom-col col">
                        <div class="categories__bottom-item">
                            <div class="categories__bottom-item--decor">
                                <img src="./assets/icons/blog-decor.svg" alt="" class="categories__bottom--icon" />
                            </div>
                            <p class="categories__bottom--desc">
                                Veniam exercitation reprehenderit proident cillum consequat est irure duis. Esse est qui
                                mollit adipisicing dolore ut qui reprehenderit nulla dolore consectetur velit.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
