<div class="footer">
    <div class="container">
        <div class="row footer__top">
            <div class="col col-5 col-lg-4 col-md-12">
                <p class="footer__desc">
                    Free shipping on orders over €50 <br />
                    2-year product warranty <br />
                    30-day returns
                </p>
                <div class="footer__subscribe">
                    <p class="footer__title">Join our Newsletter</p>
                    <p class="footer__desc">Be the first to find out about news and exclusive offers from Orangy</p>
                    <button class="footer__btn">SUBSCRIBE</button>
                </div>
                <div class="footer__social">
                    <a href="#!">
                        <img src="./assets/icons/youtube.svg" alt="" class="footer__social--img" />
                    </a>
                    <a href="#!">
                        <img src="./assets/icons/instagram.svg" alt="" class="footer__social--img" />
                    </a>
                    <a href="#!">
                        <img src="./assets/icons/linkedin.svg" alt="" class="footer__social--img" />
                    </a>
                    <a href="#!">
                        <img src="./assets/icons/twitter.svg" alt="" class="footer__social--img" />
                    </a>
                    <a href="#!">
                        <img src="./assets/icons/facebook.svg" alt="" class="footer__social--img" />
                    </a>
                </div>
            </div>
            <div class="col col-md-6">
                <div class="footer__title">Lorem ipsum</div>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Nisi culpa</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Voluptate</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Aute duis</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Aute duis</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Lorem ullamco</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-6">
                <div class="footer__title">Company</div>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">About Us</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Our commitment</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">#Orangy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Inspiration</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-6 g-md-4">
                <div class="footer__title">Contact</div>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Where to find us</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Customer Service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Open your franchise</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Whistleblower channel</a>
                    </li>
                </ul>
            </div>
            <div class="col col-md-6 g-md-4">
                <div class="footer__title">Lorem ipsum</div>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">Nisi culpa</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Voluptate</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Aute duis</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Aute duis</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Lorem ullamco</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="footer__bottom">
                <div class="footer__country">
                    <img src="./assets/icons/world.svg" alt="" class="footer__country-img" />
                    <p class="footer__country-desc">GERMAN (€)</p>
                    <p class="footer__country-desc">VIETNAMESE (đ)</p>
                </div>

                <div class="footer__brand">
                    <p class="footer__logo">© Orangy</p>
                    <p>Privacy Policy</p>
                    <p>Cookie Policy</p>
                    <p>Legal Notice</p>
                </div>
            </div>
        </div>
    </div>
</div>
