<div class="header">
    <div class="container">
        <div class="nav">
            <div class="nav-top">
                <div class="nav-top__desc">FREE SHIPPING · COUPON: FREE. Exchanges and returns within 30 days.</div>
                <div class="time">
                    <div class="time__group">
                        <p class="time__number">00</p>
                        <p class="time__number--desc">days</p>
                    </div>
                    <span>:</span>
                    <div class="time__group">
                        <p class="time__number">10</p>
                        <p class="time__number--desc">hours</p>
                    </div>
                    <span>:</span>
                    <div class="time__group">
                        <p class="time__number">37</p>
                        <p class="time__number--desc">min</p>
                    </div>
                    <span>:</span>
                    <div class="time__group">
                        <p class="time__number">42</p>
                        <p class="time__number--desc">sec</p>
                    </div>
                </div>
            </div>

            <div class="nav-bottom">
                <div class="nav-bottom-menu">
                    <button class="nav-bottom-menu__btn">
                        <img src="./assets/icons/nav-menu.svg" alt="" />
                        MENU
                    </button>
                </div>

                <a href="./" class="nav-bottom__logo">
                    <img src="./assets/icons/logo.svg" alt="" />
                </a>

                <div class="nav-bottom__act">
                    <button class="nav-bottom__btn-search nav-bottom__btn d-md-none">
                        <img src="./assets/icons/search.svg" alt="" class="nav-bottom__search--img" />
                        SEARCH
                    </button>
                    <div class="nav-bottom__btn-wrap d-md-none">
                        <button class="nav-bottom__btn">LOGIN</button>
                    </div>
                    <div class="nav-bottom__btn-wrap">
                        <button class="nav-bottom__btn">BAG <span class="nav-bottom__btn--quantity">(0)</span></button>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="header__heading">Quis aliqua reprehenderit excepteur et dolore</h1>
    </div>
</div>
