<div class="product">
    <div class="container">
        <div class="row row-cols-2 row-cols-lg-1 gx-1 gy-2 gy-md-1">
            <div class="col">
                <div class="product__left">
                    <img src="./assets/images/product-01.png" alt="" class="product__img" />
                </div>
            </div>
            <div class="col">
                <div class="row row-cols-2 gy-3 gx-1 gy-md-2">
                    <!-- Product card item 1-->
                    <div class="product-card">
                        <div class="product-card__item">
                            <img src="./assets/images/product-02.jfif" alt="" class="product-card__img" />
                            <div class="product-card__top">
                                <div class="product-card__tags">
                                    <button class="product-card__btn">New</button>
                                    <button class="product-card__btn">Sale</button>
                                </div>
                                <button class="product-card__btn--heart">
                                    <img src="./assets/icons/heart.svg" alt="" class="product-card__btn--icon" />
                                </button>
                            </div>
                            <div class="product-card__colors">
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <p class="product-card__colors--desc">+ 4color</p>
                            </div>
                        </div>
                        <div class="product-card__bottom">
                            <p class="product-card__name">Lorem ullamco</p>
                            <span class="product-card__price">17,99€</span>
                        </div>
                    </div>

                    <!-- Product card item 2 -->
                    <div class="product-card">
                        <div class="product-card__item">
                            <img src="./assets/images/product-03.jfif" alt="" class="product-card__img" />
                            <div class="product-card__top">
                                <div class="product-card__tags">
                                    <button class="product-card__btn">New</button>
                                    <button class="product-card__btn">Sale</button>
                                </div>
                                <button class="product-card__btn--heart">
                                    <img src="./assets/icons/heart.svg" alt="" class="product-card__btn--icon" />
                                </button>
                            </div>
                            <div class="product-card__colors">
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <p class="product-card__colors--desc">+ 4color</p>
                            </div>
                        </div>
                        <div class="product-card__bottom">
                            <p class="product-card__name">Lorem ullamco</p>
                            <span class="product-card__price">17,99€</span>
                        </div>
                    </div>

                    <!-- Product card item 3 -->
                    <div class="product-card">
                        <div class="product-card__item">
                            <img src="./assets/images/product-04.png" alt="" class="product-card__img" />
                            <div class="product-card__top">
                                <div class="product-card__tags">
                                    <button class="product-card__btn">New</button>
                                    <button class="product-card__btn">Sale</button>
                                </div>
                                <button class="product-card__btn--heart">
                                    <img src="./assets/icons/heart.svg" alt="" class="product-card__btn--icon" />
                                </button>
                            </div>
                            <div class="product-card__colors">
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <p class="product-card__colors--desc">+ 4color</p>
                            </div>
                        </div>
                        <div class="product-card__bottom">
                            <p class="product-card__name">Lorem ullamco</p>
                            <span class="product-card__price">17,99€</span>
                        </div>
                    </div>

                    <!-- Product card item 4 -->
                    <div class="product-card">
                        <div class="product-card__item">
                            <img src="./assets/images/product-05.png" alt="" class="product-card__img" />
                            <div class="product-card__top">
                                <div class="product-card__tags">
                                    <button class="product-card__btn">New</button>
                                    <button class="product-card__btn">Sale</button>
                                </div>
                                <button class="product-card__btn--heart">
                                    <img src="./assets/icons/heart.svg" alt="" class="product-card__btn--icon" />
                                </button>
                            </div>
                            <div class="product-card__colors">
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <button class="product-card__color"></button>
                                <p class="product-card__colors--desc">+ 4color</p>
                            </div>
                        </div>
                        <div class="product-card__bottom">
                            <p class="product-card__name">Lorem ullamco</p>
                            <span class="product-card__price">17,99€</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
