<div class="slider-wrapper">
    <button id="prev-slide" class="slider-wrapper__arrow slider-wrapper__arrow--left d-md-none">
        <img src="./assets/icons/arrow-left.svg" alt="" />
    </button>

    <div class="slider-wrapper__list">
        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-01.jfif" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>
        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-02.jfif" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>
        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-03.png" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>

        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-01.jfif" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>
        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-02.jfif" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>
        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-03.png" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>

        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-04.jfif" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>
        <div class="slider-wrapper__item">
            <img src="./assets/images/slider-05.png" alt="" class="slider-wrapper__image" />
            <div class="slider-wrapper__prod">
                <p class="slider-wrapper__name">Aute duis</p>
                <a href="#!" class="slider-wrapper__link">SEE PRODUCTS</a>
            </div>
        </div>
    </div>
    <button id="next-slide" class="slider-wrapper__arrow slider-wrapper__arrow--right d-md-none">
        <img src="./assets/icons/arrow-right.svg" alt="" />
    </button>
</div>

<div class="slider-scrollbar">
    <div class="slider-scrollbar__track">
        <div class="slider-scrollbar__thumb"></div>
    </div>
</div>
